/*
    green: easy
    blue: rare
    yellow: legendary
    black: mythic
*/

#logrosProgress{
	width: 100%;
	background-color: black;
	padding: 5px;
	text-align: center;
}

#logrosProgressBar{
	width: 0%;
	text-align: center;
	color: black;
	background-color: white;
}

.logroFloat{
	display: flow;
	position: fixed;
	top: -400px;
	transition: top 1s;
	width: 40%;
}

.logros:hover{
	cursor: pointer;
}

.logros{
	display: inline-block;
	background-color: rgb(205, 239, 250);
	border: 2px solid green;
	border-radius: 10px;
	padding: 10px;
	margin-top: 15px;
	margin-left: 15px;
}

.loguito{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid green;
}

.logros .prevent-select{
	margin: 0px;
}

.logros_header{
	text-align: left;
	margin-left: 0px;
	display: grid;
	grid-template-columns: 130px 350px auto;
}

.logros_content{
	margin-left: 50px;
}

.logros_title{
	
}
.logros_date{
	text-align: right;
	font-size: 15px;
}

.logros hr{
	color: black;
	width: 100%;
	margin-top: 13px;
	margin-bottom: 5px;
	color: black;
}

span{
    font-size: 80%;
    font-style: italic;
    color: gray;
    float: right;
}


#logrosContent{
	display: grid;
	grid-auto-columns: auto auto auto;
}

@media (max-width: 700px){

	.logros_date{
		grid-row-start: 3;
		grid-column-start: 1;
		text-align: left;
		font-size: 65%;
	}
}

@media (max-width: 700px){

	.logros{
	}
}

@media (max-width: 955px){

	.logros{
	}
}